NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ADMIN_SEO_ENABLED=

ADMIN_PASSWORD=
SUPABASE_SERVICE_ROLE_KEY=

GOOGLE_SEARCH_CONSOLE_CLIENT_ID=
GOOGLE_SEARCH_CONSOLE_CLIENT_SECRET=
GOOGLE_SEARCH_CONSOLE_REDIRECT_URI=
GOOGLE_SEARCH_CONSOLE_SITE_URL=
GSC_TOKEN_ENCRYPTION_KEY=

SEO_DAILY_CRON_SECRET=
ADMIN_REVALIDATE_SECRET=


# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# NEXT_PUBLIC_ADMIN_SEO_ENABLED=
# ADMIN_PASSWORD=
# SUPABASE_SERVICE_ROLE_KEY=

# GOOGLE_SEARCH_CONSOLE_CLIENT_ID=
# GOOGLE_SEARCH_CONSOLE_CLIENT_SECRET=
# GOOGLE_SEARCH_CONSOLE_REDIRECT_URI=
# GOOGLE_SEARCH_CONSOLE_SITE_URL=
# GSC_TOKEN_ENCRYPTION_KEY=

# ADMIN_REVALIDATE_SECRET=